
.body{
    background-color: black;
    color: white;

}
.img-fluid {
    width: 400px; /* You can set the dimensions to whatever you want */
    height: 400px;
    object-fit: cover;
}
.header
{
    text-align: left;

}
.navbar
{
    color: white;
}
.container-fluid{
    padding: 10%;
    width: 50%;

}
.col-8
{
    color: white;
    float: right;
    max-width: 100%;
}
#okPojat {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(-359deg);
    }
}