#okPojat {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(-359deg);
    }
}
.vh-100-navbar{
    height: calc(100vh - 55px);
}
.vh-100-navbar-footer{
    height: calc(100vh - 155px);
}