.body{
    background-color: black;
    color: white;

}

.header
{
    text-align: left;

}

.navbar
{
    color: white;
}

.col-8
{
    color: white;
    float: right;
    max-width: 100%;
}



#okPojat {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(-359deg);
    }
}