.navbar-expand-md{
    background-color: black;
    height: 12vh;
    min-height: 90px;
    max-height: 180px;
}
.container-sm{
    padding: 5vh 5vw !important;
    background-color: black;
    height: 3000px;
    font-size: 16px;
    color: white;    
}
